* { box-sizing: border-box; }

/*전체 영역*/
.container { 
	width: 900px; 
}
li {
	float: left;	
	text-align: center;
}

img {
	height: 231px;
	width: 225px;
	vertical-align: bottom;	
}





/*텍스트 블럭*/
div.comment {
	padding: 55px 25px;
}

div.text-block {
	width: 225px;
}

/*텍스트 스타일*/
p { 
	font: #464646 1.188rem/1.1 "Montser";
	padding: 18px 0 13px;}

p.heading { font: 1rem/1.5 "Montser"; }


/* 첫번째 라인 */
img.first-line {
	width: 450px;
}

div.text-block.wide {
	width: 450px;
}

/*트위터 아이콘*/
div.text-block::after {
	display: block;
	content: "";
	height: 1px;
	width: 20%;
	margin-left: auto;
	margin-right: auto;
	background: #BFBFBF;
}


a {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.twitter{
	width: 15px;
	height: 15px;

}

