/*16.07.03*/
/* 1. */
div.parent {
	width:100%;
	background: pink;
	font-family: Helvetica;
	line-height: 1.5;
	}
div {
	width: 10%;
	height: 10%;
	background: yellow;
	border: 0.5px dashed black;
	margin-bottom: 2%;
	font-size: 1%;
}
div.no-wrap { white-space: nowrap; }
.pre { white-space: pre; }
.pre-wrap { white-space: pre-wrap; }
.pre-inline { white-space: pre-line; }