/**
*Float 속성
<img>요소를 좌우로 부유시켜 텍스트가 이미지를 둘러싸도록 설정하기 위해 고안된 기술이나, 
오늘날 그리드 시스템에 활용된다. 

* HTML 모든 요소는 float 속성 기본 값이 none으로 설정되어 있다. 이를 사용자가 필요에 따라 float 방향을 왼쪽(left), 오른쪽(right)으로 설정할 수 있다. 
이에따라 float이 적용된 요소의 뒤에 마크업(구조화)된 요소는 float의 영향을 받는다. 
**/

body {
	margin: 2rem 20%;
	line-height: 1.45;
}
.image-container {
	width: 550px;
	border: 4px solid skyblue;
	padding: 1rem;
}
.image-container .adjacent-img {
	overflow: hidden;
}
.image-container p {
	margin-bottom: 1.5em;
	line-height: 1.5;
	color: #13415b;
	font-size: 0.875rem; /*14px */
}
img { 
	vertical-align: bottom;
	float: left;
	margin-right: 10px;
 }


